<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <label>{{ msg }}</label>
        <input type="text" v-model='msg' />
        <br />
        <label>{{ msg1 }}</label>
        <input :value='msg1' @input='msg1 = $event.target.value'></input>
    </div>

    <div id="app2">
        <item v-model='text'></item>
    </div>
    
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data:function(){
                return {
                    msg: 'Hello',
                    msg1: 'Hello World'
                }
            }
        });

        Vue.component('item', {
            props:['value'],
            template: `
                <div>
                    <label>{{ value }}</label>
                    <input v-on:input="$emit('input', $event.target.value)" :value='value'></input>
                </div>
            `,
        });
        new Vue({
            el: '#app2',
            data:function(){
                return {
                    text: '自定义'
                }
            }
        });
    </script>
</body>
</html>